<p-calendar 
    [inline]="false" [(ngModel)]="date" [locale]="ch"  [minDate]="minDate"
    [yearNavigator]='true' [monthNavigator]='true' [maxDate]="maxDate"
    [dateFormat]="'yy/mm/dd'" [yearRange]="'2008:2018'"
    [todayButtonStyleClass]="'ui-today-button'" [clearButtonStyleClass]="'ui-clear-button'"
    [placeholder]="placeholder" (onSelect)="getDate()" (onClearClick)="getClear()"
    [disabled]='disabled' tabindex="0" [disabledDates]="invalidDates" readonlyInput="true"
    [showIcon]='true' [showOnFocus]="'true'" [showButtonBar]='true'>
</p-calendar> 

