@charset "utf-8";
*{
padding:0;
margin:0;
list-style:none;
border:0;
}
html{
font-size: 100px;
}
body{
font-family: "Microsoft YaHei","微软雅黑",Helvetica,"黑体",'SimSun',Arial,Tahoma;
color: #000;
font-size:0.24rem;
}
a,a:visited{
color: #000;
text-decoration: none;
}
a:hover{
text-decoration: none;
}
img{
display: block;
}

.clearfix:after{
content: "";
display: block;
height: 0;
clear: both;
visibility: hidden;
}
.clearfix {
/* 触发 hasLayout */
zoom: 1;
}