.tit h4{
  font-size: 26px;
  height: 52px;
  line-height: 52px;
}

table{table-layout: fixed;margin-top: -1px;}
table tr td {border:1px solid #e2e2e2;line-height: 48px;}
table{ width: 100%; min-height: 25px; line-height: 25px; text-align: center; border-collapse: collapse;}
table tr td{padding: 0 5px; white-space: nowrap;overflow: hidden;text-overflow: ellipsis;height: 48px;}

