<app-crumb [list]='navData'></app-crumb>
<div class='white_bg mb30 pb30'>
    <div class="cur_table">
        <div class='g_tit'>
            <h5>流程详情</h5>
        </div>
        <div class="rowsNull" *ngIf="rows.length==0">暂无数据！</div>
        <table width="100%" border="0">
            <thead>
                <tr>
                    <td>序号</td>
                    <td>事件</td>
                    <td>操作人</td>
                    <td>接收时间</td>
                    <td>完成时间</td>
                    <td>持续时间</td>
                    <td>状态</td>
                    <!-- <td>操作</td> -->
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of rows;let i=index;">
                    <td>
                        {{i+1}}
                    </td>
                    <td>
                        <span *ngIf="pageState.taskId!=item.taskId">{{item.actName}}</span>
                        <!-- <span *ngIf="item.actName=='征信拆解'">征信拆解</span>
                        <span *ngIf="item.actName=='预约确认'">预约确认</span>
                        <span *ngIf="item.actName=='指派风控'">指派风控</span>
                        <span *ngIf="item.actName=='尽职调查'">尽职调查</span>
                        <span *ngIf="item.actName=='审批登记'">审批登记</span>
                        <span *ngIf="item.actName=='自动发标'">自动发标</span>
                        <span *ngIf="item.actName=='合规审批'">合规审批</span>

                        <span *ngIf="item.actName=='风控审批'">风控审批</span>
                        <span *ngIf="item.actName=='综合审批'">综合审批</span>
                        <span *ngIf="item.actName=='风控总监审批'">风控总监审批</span>
                        <span *ngIf="item.actName=='合规审查'">合规审查</span>
                        <span *ngIf="item.actName=='副总经理审批'">副总经理审批</span>
                        <span *ngIf="item.actName=='总经理审批'">总经理审批</span>
                        <span *ngIf="item.actName=='资产推送'">资产推送</span> -->
                        <a *ngIf="pageState.taskId==item.taskId" class="blue" [routerLink]="['/app/present/pastTable']" [queryParams]="{'taskId':item.taskId,'processInsId':item.processInsId,'type':item.actName}">
                            {{item.actName}}
                        </a>
                    </td>
                    <td>{{item.assignee}}</td>
                    <td>{{item.createTime}}</td>
                    <td>{{item.endTime}}</td>
                    <td>{{item.hour}}</td>
                    <td>{{item.status}}</td>
                    <!-- <td>
                        <a class="blue" [routerLink]="['/app/present/pastTable']" [queryParams]="{'taskId':item.taskId,'processInsId':item.processInsId,'type':item.actName}">查看</a>
                    </td> -->
                </tr>
            </tbody>
        </table>
    </div>
    <div class="cur_table">
        <div class='g_tit'>
            <h5>流程跟踪</h5>
        </div>
        <div style="padding:30px 0;text-align:center;">
            <img src="{{mapImg}}"  alt="" style="width:80%;" *ngIf='mapImg'>
        </div>
    </div>
    <div style='text-align:center;padding-top: 20px;'>
        <a class='btn cal' onclick='history.back();' style='margin-left:12px;'>返回</a>
    </div>
</div>
<loading [loading]='loading'></loading>