@import url(../read-only-block/read-only-block.component.css);
.tit h5{
    font-size: 24px;
    height: 52px;
    line-height: 52px;
}
.tit span{
    display: block;
    font-size: 18px;
    height: 42px;
    line-height: 42px;
}
.btn{
    display: inline-block;
    height: 38px;
    line-height: 38px;
    padding: 0 20px;
    font-size: 14px;
    border-radius: 3px;
}
.btn.sure{
    background-color: #589af8;
    color: #fff;
}