<div class="login">
  <div class=loginBg></div>
  <canvas id="stars" class="stars"></canvas>
  <div class="loginBgC"></div>
  <div class="loginCon">
    <div class="title">天络-流程平台</div>
    <div class="box">
      <form #LoginForm="ngForm" action="" (ngSubmit)="onSubmit(LoginForm)">
        <div class="name item">
          <input type="text" placeholder=" 请输入用户名" name="loginName" #loginName="ngModel" ngModel required minlength="3">
          <div class="error_txt" *ngIf="loginName.invalid && (loginName.dirty || loginName.touched)" style="text-align: right; line-height: 24px; font-size: 12px; color: red;">
            <p *ngIf="loginName.errors?.required">用户名为必填</p>
            <p *ngIf="loginName.errors?.minlength">长度不能小于3</p>
          </div>
        </div>
        <div class="pwd item">
          <input type="password" placeholder="请输入密码" name="password" #password="ngModel" ngModel required minlength="6">
          <div class="error_txt" *ngIf="password.invalid && (password.dirty || password.touched)" style="text-align: right; line-height: 24px; font-size: 12px; color: red;">
            <p *ngIf="password.errors?.required">密码为必填</p>
            <p *ngIf="password.errors?.minlength">密码长度不应小于6位</p>
          </div>
          <!-- <div class="pwdTb pwdTb1"></div> -->
        </div>
        <div class="rmbPwd">
          <!-- <label>
            <input [(checked)]="remebPsw" type="checkbox" (click)="remebPswFun()">
            <span>记住密码</span>
          </label> -->
        </div>
        <button class="btn" type="submit">登录</button>
      </form>
    </div>
  </div>
  <div class="mask" *ngIf="mask"></div>
  <div class='confirm' *ngIf="mask">
    <div class="header">
      <span>提示</span>
    </div>
    <div class="body">
      <span>{{errorMsg}}</span>
    </div>
    <div class="footer">
      <button type="button" (click)="mask=false;">确认</button>
    </div>
  </div>
  <p class="bottomText">版权所有©江西省博汇九洲金融服务有限公司</p>
</div>